@import "normalize";
@import "variables";
@import "base";
@import "typography";
@import "buttons";

.page-header {
  text-align: center;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    padding: 1rem 1rem;
  }
}

.project-name {
  margin-bottom: 0.1rem;
  margin-top: 0;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  }
}

.project-tagline {
  font-weight: normal;
  opacity: 0.9;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}

.main-content:first-child {
  margin-top: 0;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: yellow;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.main-content p {
  margin-bottom: 1em;
}

.main-content hr {
  background-color: #eff0f1;
  border: 0;
  height: 2px;
  margin: 1rem 0;
  padding: 0;
}

@media screen and (min-width: 64em) {
  .main-content {
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 64rem;
    padding: 2rem 6rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    font-size: 1.1rem;
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    font-size: 1rem;
    padding: 2rem 1rem;
  }
}

.site-footer {
  border-top: solid 1px #eff0f1;
  margin-top: 2rem;
  padding-top: 2rem;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: #819198;
}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem;
  }
}
